<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="/main.css" />
		<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
		<title>Portfolio</title>
	</head>
	<body>
		<div class="frame">
			<div class="main_frame">
				<div class="left_frame">
					<div class="left_1">
						<div class="left_1-1"><img src="images/profile.png" alt="" /></div>
						<div class="left_1-2"><%=user.name%></div>
						<div class="left_1-3"><%=user.profession%></div>
						<div class="left-icons"></div>
					</div>
					<div class="marginer"></div>
					<div class="left_2">2</div>
					<div class="marginer"></div>
					<div class="left_3">3</div>
					<div class="marginer"></div>
					<div class="left_4">4</div>
					<div class="marginer"></div>
					<div class="left_5">5</div>
				</div>
				<div class="midd_frame"></div>
				<div class="right_frame"></div>
			</div>
		</div>
	</body>
</html>
